!!! 5
html
  head
    title Recurring
    meta(name="apple-mobile-web-app-status-bar-style",content="black")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    != smoosher.css("common")
    - if (config.livejs)
      script(src="scripts/live.js")
    script
      window.isMobile = ("createTouch" in document);
      window.inputEventName = (isMobile)?'tap':'click';
  body
    #Scribble(class="Page Sheet")
      include includes/scribble
    #ViewAll(class="Sheet Page")
      include includes/viewall
    - if (phonegap)
      != smoosher.js("phonegap")
      script
        window.isPhoneGap = true;
    - else
      script
        window.isPhoneGap = false;
    != smoosher.js("core")
    != smoosher.js("app")
    script
      var ready = function() {
        console.log("ready");
        document.addEventListener("touchmove", function(e) { e.preventDefault(); }, false);
        window.scribbleData = new ScribbleData();
        window.controller = new ScribbleController({ el: $("#Scribble") });
      };
      if (isPhoneGap)
        document.addEventListener("deviceready", ready);
      else
        ready()
