<!DOCTYPE HTML>
<html>
	<head>
		<title>Recurring</title>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0">

        
		<link rel="stylesheet" type="text/css" href="ui/stylesheets/common.css"/>
		<link rel="stylesheet" type="text/css" href="ui/stylesheets/iphone.css"/>
	</head>
	<body>
        <div id="Scribble" class="Page Sheet">
            <div class="pagination"><span class="jsCurrentIndex"></span> of <span id="jsTotal" class="jsTotal"></span></div>
            <button data-action="viewAllScribbles" class="Button ViewAllButton jsViewAllButton"><span>View All</span></button>
            <!--<button data-action="takePhoto" class="Button CameraButton jsCameraButton"><span>Camera</span></button>-->
            <button data-action="deleteScribble" class="Button DeleteButton jsDeleteButton"><span>Delete</span></button>
            <button data-action="newScribble" class="Button NewButton jsNewButton"><span>New</span></button>
            <button data-action="prevScribble" class="Button PreviousButton jsPrevButton"><span>Previous</span></button>
            <button data-action="nextScribble" class="Button NextButton jsNextButton"><span>Next</span></button>
            <div id="draw" role="content">
                <canvas></canvas>
            </div>
        </div>
        <div id="ViewAll" class="Sheet Page">
            <div class="container" role="content">
                <ul class="ImageList"></ul>
            </div>
            <footer>
                <ul class="Toolbar">
                    <li><button class="Button NewButton" data-action="newScribble"></button></li>
                    <li class="right"><button data-action="next" class="Button NextButton jsNextButton2"></li>
                    <li class="right"><button data-action="prev" class="Button PreviousButton jsPrevButton2"></li>
                </ul>
            </footer>
        </div>
        <% if (phonegap) { %>
			<script src="phonegap.js"></script>
            <script src="ext/phonegap-plugins/iPhone/Badge/Badge.js"></script> 
            <script src="plugins/preferences.js"></script> 
        <% } %>
        <script src="ui/compressed/app.mobile.js"></script> 
        <script src="ui/compressed/app.lawnchair.js"></script> 

        <script src="dataproviders/scribble.js"></script> 
        <script src="models/scribble.js"></script> 
        <script src="views/scribble.js"></script> 
        <script src="controllers/scribbleController.js"></script> 
        <script src="controllers/viewAllController.js"></script> 
        <script src="controllers/iAdController.js"></script>
		<script>
			ui.ready(function() {
				//ui.mobile.disableScrollingPermanently();
                //appController = new AppController();
				var controller = new ScribbleController('Scribble');
                /*
				persistence.store.websql.config(persistence, 'Recurring', 'RecurringDb', 5 * 1024 * 1024);
				persistence.schemaSync(function(tx) {
					new TaskListController('TaskList');
				});
                */ 
				//ui.mobile.startWeinre("localhost:8080");
			});
		</script>
	</body>
</html>
