<!DOCTYPE HTML>
<html>
	<head>
		<title>Recurring</title>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0">

        
        <%- smoosher.css("common") %>
		<% if (config.livejs) { %>
        <script src="scripts/live.js"></script>
		<% } %>
        <script>
            window.isMobile = ("createTouch" in document);
            window.inputEventName = (isMobile)?'tap':'click';
        </script>
	</head>
	<body>
        <div id="Scribble" class="Page Sheet">
            <div id="draw" class="content" data-element="scribblePadContainer" role="content">
                <canvas></canvas>
            </div>
            <footer>
                <ul class="Toolbar">
                    <li><div class="pagination"><span data-element="currentIndexNode"></span> of <span data-element="totalNode"></span></div></li>
                    <li><button data-action="viewAllScribbles" data-element="viewAllButton" class="Button ViewAllButton"><span>View All</span></button></li>
                    <!--<button data-action="takePhoto" class="Button CameraButton jsCameraButton"><span>Camera</span></button>-->
                    <li><button data-action="deleteScribble" data-element="deleteButton" class="Button DeleteButton"><span>Delete</span></button></li>
                    <li><button data-action="newScribble" data-element="newButton" class="Button NewButton"><span>New</span></button></li>
                    <li><button data-action="prevScribble" data-element="prevButton" class="Button PreviousButton"><span>Previous</span></button></li>
                    <li><button data-action="nextScribble" data-element="nextButton" class="Button NextButton"><span>Next</span></button></li>
                </ul>
            </footer>
        </div>
        <div id="ViewAll" class="Sheet Page">
            <div class="content container" role="content" data-element="container">
                <ul class="ImageList"></ul>
            </div>
            <footer>
                <ul class="Toolbar">
                    <li><button class="Button NewButton" data-action="newScribble"></button></li>
                    <li><button data-action="deleteScribbles" class="Button DeleteButton"><span>Delete</span></button></li>
                    <li class="right"><button data-action="next" data-element="nextButton" class="Button NextButton"></li>
                    <li class="right"><button data-action="prev" data-element="prevButton" class="Button PreviousButton"></li>
                </ul>
            </footer>
        </div>
        <% if (phonegap) { %>
            <%- smoosher.js("phonegap") %>
            <script>window.isPhoneGap = true;</script>
        <% } else {%>
            <script>window.isPhoneGap = false;</script>
        <% } %>
        <%- smoosher.js("core") %>
        <%- smoosher.js("app") %>
		<script>
            var ready = function() {
                document.addEventListener("touchmove", function(e) { e.preventDefault(); }, false);
                window.scribbleData = new ScribbleData();
                window.controller = new ScribbleController({ el: $("#Scribble") });
			};
            if (isPhoneGap)
                document.addEventListener("deviceready", ready);
            else
                ready()
		</script>
	</body>
</html>
