<!DOCTYPE HTML>
<html>
	<head>
		<title>Recurring</title>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0">

        
		<link rel="stylesheet" type="text/css" href="stylesheets/common.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/iphone.css"/>
        <script src="scripts/live.js"></script>

	</head>
	<body>
        <div id="Scribble" class="Page Sheet">
            <div class="pagination"><span data-element="currentIndexNode"></span> of <span data-element="totalNode"></span></div>
            <button data-action="viewAllScribbles" data-element="viewAllButton" class="Button ViewAllButton"><span>View All</span></button>
            <!--<button data-action="takePhoto" class="Button CameraButton jsCameraButton"><span>Camera</span></button>-->
            <button data-action="deleteScribble" data-element="deleteButton" class="Button DeleteButton"><span>Delete</span></button>
            <button data-action="newScribble" data-element="newButton" class="Button NewButton"><span>New</span></button>
            <button data-action="prevScribble" data-element="prevButton" class="Button PreviousButton"><span>Previous</span></button>
            <button data-action="nextScribble" data-element="nextButton" class="Button NextButton"><span>Next</span></button>
            <div id="draw" data-element="scribblePadContainer" role="content">
                <canvas></canvas>
            </div>
        </div>
        <div id="ViewAll" class="Sheet Page">
            <div class="container" role="content" data-element="container">
                <ul class="ImageList"></ul>
            </div>
            <footer>
                <ul class="Toolbar">
                    <li><button class="Button NewButton" data-action="newScribble"></button></li>
                    <li class="right"><button data-action="next" data-element="nextButton" class="Button NextButton"></li>
                    <li class="right"><button data-action="prev" data-element="prevButton" class="Button PreviousButton"></li>
                </ul>
            </footer>
        </div>
        <% if (phonegap) { %>
			<script src="phonegap.js"></script>
            <script src="ext/phonegap-plugins/iPhone/Badge/Badge.js"></script> 
            <script src="plugins/preferences.js"></script> 
            <script>window.isPhoneGap = true;</script>
        <% } else {%>
            <script>window.isPhoneGap = false;</script>
        <% } %>
        <script src="scripts/zepto.js"></script> 
        <script src="scripts/fidel.js"></script> 
        <script src="scripts/lawnchair-0.6.0.js"></script> 

        <script src="dataproviders/scribble.js"></script>
        <!--<script src="models/scribble.js"></script> -->
        <script src="scripts/scribble.js"></script>
        <script src="controllers/scribbleController.js"></script> 
        <script src="controllers/viewAllController.js"></script>
		<script>
            var ready = function() {
                window.scribbleData = new ScribbleData();
                window.controller = new ScribbleController({ el: $("#Scribble") });
			};
            if (isPhoneGap)
                document.addEventListener("deviceready", ready);
            else
                ready()
		</script>
	</body>
</html>
