<div id="Scribble" class="Page Sheet">
    <div class="pagination"><span class="jsCurrentIndex"></span> of <span id="jsTotal" class="jsTotal"></span></div>
    <a class="Button ViewAllButton jsViewAllButton"><span>View All</span></a>
    <a class="Button CameraButton jsCameraButton"><span>Camera</span></a>
    <a class="Button DeleteButton jsDeleteButton"><span>Delete</span></a>
    <a class="Button NewButton jsNewButton"><span>New</span></a>
    <a class="Button PreviousButton jsPrevButton"><span>Previous</span></a>
    <a class="Button NextButton jsNextButton"><span>Next</span></a>
    <!--
    <ul class="Toolbar">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    --!>
    <canvas role="content"></canvas>

</div>
