body { margin: 0px; -webkit-text-size-adjust:none;}

canvas { border: 1px solid #ccc; }


.Toolbar { height: 48px; background: #336699; margin: 0; padding: 0}
	.Toolbar li { display: inline; margin: 0; padding: 0 20px;} 
