body { margin: 0px; -webkit-text-size-adjust:none; overflow: hidden; }

canvas { }



.Toolbar { height: 45px; margin: 0; padding: 5px 0 0 0; border-top: 1px solid #aaa;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, #fff),
	color-stop(0, #ccc)
	)

	}
	.Toolbar li { float: left; margin: 0; padding: 0 6px; list-style: none;} 
		.Toolbar li a { height: 32px; width: 32px; display: block; background-repeat: no-repeat; background-position: center center; } 
			.Toolbar li a span { display: none; } 
		.Toolbar li .viewAll { background-image: url(../images/icons/normal/folder.png); } 
		.Toolbar li .new { background-image: url(../images/icons/normal/plus.png); } 
		.Toolbar li .delete { background-image: url(../images/icons/normal/delete.png); } 
		.Toolbar li .previous { background-image: url(../images/icons/normal/arrowleft.png); } 
		.Toolbar li .next { background-image: url(../images/icons/normal/arrowright.png); } 
		.Toolbar li .camera { background-image: url(../images/icons/normal/camera.png); } 
		.Toolbar li.pagination { line-height: 32px; font-size: 16px; font-family: Arial; }

.ImageList { list-style: none; margin: 0; padding: 0}
	.ImageList li { display: inline; margin: 0; padding: 10px; } 
		.ImageList li img { height: 100px; border: 1px solid #ccc; } 




@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.Toolbar li a { background-size: 26px 26px; }
	.Toolbar li .viewAll { background-image: url(../images/icons/hi-res/folder.png); } 
	.Toolbar li .new { background-image: url(../images/icons/hi-res/plus.png); } 
	.Toolbar li .delete { background-image: url(../images/icons/hi-res/delete.png); } 
	.Toolbar li .previous { background-image: url(../images/icons/hi-res/arrowleft.png); } 
	.Toolbar li .next { background-image: url(../images/icons/hi-res/arrowright.png); } 
	.Toolbar li .camera { background-image: url(../images/icons/hi-res/camera.png); } 
}
