html,body{height:100%}
body{margin:0;-webkit-text-size-adjust:none;overflow:hidden;background:#5a5c73;padding:3px}
*{-webkit-user-select:none}
button{-webkit-appearance:none;border:0;background:0}
#PageContainer{overflow:hidden;position:relative}
.Page{width:100%;height:100%;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-align:stretch}
.Page [role='content']{-webkit-box-flex:1}
canvas,.Sheets{position:relative}
.Sheet{background:#fff;-webkit-border-radius:10px;position:absolute;top:0;-webkit-box-shadow:2px 2px 2px #333;-webkit-transition:-webkit-transform .5s ease-in-out}
.Toolbar{height:45px;margin:0;padding:5px 0 0 0;border-top:1px solid #ccc}
.Toolbar li{float:left;margin:0;padding:0 4px;list-style:none;color:#666}
.Toolbar li.pagination{line-height:32px;font-size:16px;font-family:Arial}
.Button{height:40px;width:40px;display:block;background-repeat:no-repeat;background-position:center center;opacity:.5}
.Button:active{opacity:1}
.Button2:active{-webkit-box-shadow:1px 1px 1px #333;-webkit-border-radius:10px}
.Button span{display:none}
#Scribble .Button{position:absolute}
#Scribble .ViewAllButton{bottom:5px;left:45px}
#Scribble .CameraButton{left:85px;bottom:5px}
#Scribble .DeleteButton{right:85px;bottom:5px}
#Scribble .NewButton{right:45px;bottom:5px}
#Scribble .PreviousButton{bottom:5px;left:5px}
#Scribble .NextButton{bottom:5px;right:5px}
#Scribble .pagination{width:100%;text-align:center;bottom:10px;margin:0 auto;position:absolute}
.ViewAllButton{background-image:url("../images/icons/normal/folder.png")}
.CameraButton{background-image:url("../images/icons/normal/camera.png")}
.DeleteButton{background-image:url("../images/icons/normal/trash.png")}
.NewButton{background-image:url("../images/icons/normal/plus.png")}
.PreviousButton{background-image:url("../images/icons/normal/arrowleft.png")}
.NextButton{background-image:url("../images/icons/normal/arrowright.png")}
#ViewAll{top:-10000px}
#ViewAll .Toolbar li.right{float:right}
.ImageList{list-style:none;margin:0;padding:10px}
.ImageList li{display:block;float:left;margin:5px 20px;height:100px;overflow:hidden;border:1px solid #ccc}
.ImageList li img,.ImageList li:active{border:1px solid #000}
@media only screen and (max-width: 480px){.ImageList{padding:5px}
.ImageList li{margin:5px}
}@media only screen and (-webkit-min-device-pixel-ratio: 2)only screen and (min-device-pixel-ratio: 2){.Button{background-size:26px 26px}
.ViewAllButton{background-image:url("../images/icons/hi-res/folder.png")}
.NewButton{background-image:url("../images/icons/hi-res/plus.png")}
.DeleteButton{background-image:url("../images/icons/hi-res/trash.png")}
.PreviousButton{background-image:url("../images/icons/hi-res/arrowleft.png")}
.NextButton{background-image:url("../images/icons/hi-res/arrowright.png")}
.CameraButton{background-image:url("../images/icons/hi-res/camera.png")}
}