html, body
  height: 100%

body
  margin: 0px
  -webkit-text-size-adjust: none
  overflow: hidden

*
  -webkit-user-select: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

button
  -webkit-appearance: none
  border: 0
  background: 0

#PageContainer
  overflow: hidden
  position: relative

.Page
  width: 100%
  height: 100%
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-box-align: stretch
  overflow hidden
  background url(../images/paper.png)

.Page [role='content']
  -webkit-box-flex: 1

canvas

.Sheets
  position: relative

.Sheet
  position: absolute
  top: 0
  -webkit-transition: -webkit-transform 0.5s ease-in-out

#ViewAll.Sheet .content
  margin-bottom 0
  height 100%

.Toolbar
  background url(../images/toolbar.png)
  height: 40px
  margin: 0
  padding: 5px 0 0 0
  border-top 1px solid #000

  li
    float: left
    margin: 0
    padding: 0 4px
    list-style: none
    color: #363636

  .pagination
    color: #fff
    line-height: 40px
    font-size: 14px
    font-family: Verdana

.Button
  height: 40px
  width: 40px
  display: block
  background-repeat: no-repeat
  background-position: center center

.Button:active
  background-color: rgba(0,0,0,.4);
  -webkit-border-radius: 10px;

.Button2:active
  -webkit-box-shadow: 1px 1px 1px #333
  -webkit-border-radius: 10px

.Button span
  display: none

.Button
  background-size:22px

#Scribble
  .Button
    position: absolute

  .ViewAllButton
    position relative
    opacity .7  
    height 20px
    margin 0 auto
    background-size 20px
    width 60px
    bottom: 0px
    background-color #ccc 
    border-radius 5px 5px 0 0
    &:active
      background-color darken(#ccc, 20)


  .CameraButton
    left: 85px
    bottom: 5px

  .DeleteButton
    left: -2px 
    bottom: -2px
    opacity: .3

  .NewButton
    opacity: .3
    right: -2px
    bottom: -2px

  .PreviousButton
    bottom: 5px
    left: 5px

  .NextButton
    bottom: 5px
    right: 5px

  .pagination
    width: 100%
    text-align: center
    margin: 0 auto
    position: absolute

.ViewAllButton
  background-image: url(../images/icons/normal/arrowup.png)

.CameraButton
  background-image: url(../images/icons/normal/camera.png)

.DeleteButton
  background-image: url(../images/icons/normal/trash.png)

.NewButton
  background-image: url(../images/icons/normal/plus.png)

.PreviousButton
  background-image: url(../images/icons/normal/arrowleft.png)

.NextButton
  background-image: url(../images/icons/normal/arrowright.png)

#ViewAll
  top: 10000px

  .Toolbar 
    padding-top 0

    li
      padding-bottom 5px

  .Toolbar li.right
    float: right

  .container
    width: 100%
    height: 100%

.ImageList
  list-style none
  margin 0
  padding 0 

  li
    display: block
    -webkit-box-sizing border-box
    margin 5px
    border 1px solid #ccc
    padding 5px

  li:active
    border: 1px solid #000

@media only screen and (-webkit-min-device-pixel-ratio: 2)only screen and (min-device-pixel-ratio: 2)
  .Button
    background-size: 23px

  .ViewAllButton
    background-image: url(../images/icons/hi-res/arrowup.png)

  .NewButton
    background-image: url(../images/icons/hi-res/plus.png)

  .DeleteButton
    background-image: url(../images/icons/hi-res/trash.png)

  .PreviousButton
    background-image: url(../images/icons/hi-res/arrowleft.png)

  .NextButton
    background-image: url(../images/icons/hi-res/arrowright.png)

  .CameraButton
    background-image: url(../images/icons/hi-res/camera.png)

