div(class="content container",role="content",data-element="container")
  ul.ImageList
footer
  ul.Toolbar
    li
      button(class="Button NewButton",data-action="newScribble")
    li.right
      button(data-action="next",data-element="nextButton",class="Button NextButton")
    li.right
      button(data-action="prev",data-element="prevButton",class="Button PreviousButton")
